@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заключване";
}

// Locked out.
<hgroup>
    <h1 class="text-danger">Заключване.</h1>
    <h2 class="text-danger">Този акаунт беше заключен, моля, опитайте по-късно.</h2>
</hgroup>
